*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
.hero{
    padding: 30px;
    height: 100vh;
    background-image: url(Image/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
     padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  position: static;
  background: none;
  width: auto;
  padding: 0;
  border: none;
  align-items: center;
}
.navbar a{
    margin-left: 9px;
    font-weight: 700;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    color: white;
}
.navbar a:hover{
    border-bottom: 3px solid white;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 50px;
    color: white;
    font-weight: 700;
    font-size: 30px;
}
.icons{
    display: flex;
    gap: 20px;
}
.icons i{
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.nav-arrow.left {
  position: absolute;
  left: -30px;
  top: 40%;
  transform: translateY(-50%);
  background-color: white;
    padding: 20px;
    cursor: pointer;
}

.nav-arrow.right {
  position: absolute;
  right: -30px;
  top: 40%;
  transform: translateY(-50%);
  background-color: white;
    padding: 20px;
    cursor: pointer;
}

.nav-arrow span {
  font-size: 28px;
  color: black;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 584px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content h1{
    font-size: 49px;
    font-weight: 700;
}
.content p{
    font-size: 23px;
    font-weight: 400;
    margin: 20px 0 10px;
}
.content button{
    padding: 10px 20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s ease;
    align-items: center;
    width: 242px;
    height: 78px;
    display: flex;
    justify-content: center;
}
button i{
    font-size: 20px;
}
.content button:hover{
    background-color: white;
    color: black;
}
.product{
    padding:30px;
    align-items: center;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.product-container{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.product-header{
    width: 685px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.product-header h1{
    font-size: 44px;
    color: #373737;
    font-weight: 700;
}
.product-header p{
    font-size: 20px;
    color: #878686;
    font-weight: 400;
    margin: 20px;
}
.product-item{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.product-item img{
    height: 475px;
    object-fit: cover;
    border-radius: 10px;
}
.product-item h1{
    color: #373737;
    font-weight: 700;
    font-size: 30px;
}
.product-item p{
    color: #878686;
    font-weight: 700;
    font-size: 20px;
}
.tag{
    position: absolute;
    top: 20px;
    left: 40px;
    color: #878686;
    padding: 8px 12px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
}
.product-footer{
    background-image: url(Image/lamp-22.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.info{
    display: flex;
    flex-direction: column;
    justify-self: right;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    width: 587px;
}
.info p{
    font-size: 23px;
    font-weight: 400;
    margin: 20px 0 10px;
    color: white;
}

.product-footer button{
    padding: 10px 20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s ease;
    align-items: center;
    width: 242px;
    height: 78px;
    display: flex;
    justify-content: center;
}
.product-footer button i{
    font-size: 20px;
}
.product-footer button:hover{
    background-color: white;
    color: black;
}
.office{
    background-image: url(Image/off.png);
     background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.stylish{
    padding: 80px;
    display: flex;
    gap: 80px;
}
.stylish-content{
    width: 500px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.stylish img{
    width: 580px;
    height: 580px;
}
.stylish button{
    padding: 10px 20px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s ease;
    align-items: center;
    width: 242px;
    height: 78px;
    display: flex;
    justify-content: center;
}
.stylish-content h1{
    font-size: 44px;
    color: #373737;
    font-weight: 700;
}
.stylish-content p{
    font-size: 20px;
    color: #878686;
    font-weight: 400;
    margin: 20px;
}
.stylish button i{
    font-size: 20px;
}
.stylish button:hover{
    background-color: black;
    color: white;
}
.order{
    padding: 80px;
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    gap: 20px;
}
span{
    color: #373737;
    font-weight: 700;
}
.order button{
    padding: 10px 20px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s ease;
    align-items: center;
    width: 242px;
    height: 78px;
    display: flex;
    justify-content: center;
}
.order button i{
    font-size: 20px;
}
.order button:hover{
    background-color: black;
    color: white;
}
.shop{
    padding: 80px;
    display: flex;
    gap: 80px;
    align-items: center;
}
.shop-content{
    width: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.shop-header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 10px;
}
.shop-content h1{
    font-size: 29px;
    color: #373737;
    font-weight: 700;
}
.shop-content p{
    font-size: 20px;
    color: #878686;
    font-weight: 400;
}
.shop-header i{
    font-size: 35px;
    color: #373737;
    font-weight: 200;
}
.gallery{
    padding: 80px;
    display: flex;
    justify-content: center;
    gap: 80px;
}
.gallery-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.gallery-content img{
    width: 580px;
    height: 580px;
}
.gallery-content h1{
    font-size: 29px;
    color: #373737;
    font-weight: 700;
}
.gallery-content p{
    font-size: 20px;
    color: #878686;
    font-weight: 400;
    margin: 20px;
}
.gallery-content a{
    color: #878686;
    font-size: 20px;
}
.gallery-content a:hover{
    color: black;
}
.testimonials{
    padding: 80px;
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonials-content{
    width: 500px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.testimonials-content h1{
    font-size: 104px;
    height: 100px;
    color: #373737;
    font-weight: 700;
}
.testimonials-content p{
    font-size: 20px;
    color: #878686;
    font-weight: 400;
    margin: 20px;
}
.design{
    font-size: 15px;
    color: black;
    font-weight: 400;
}
footer{
    padding: 30px;
    background-color: #2B2B2B;
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
.footer-logo{
    font-size: 31px;
    font-weight: 700;
}
.footer-content{
    width: 100%;
    display: flex;
    justify-content: center;
}
.about{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
}
.about h2{
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 20px;
}
.about p,a{
    font-size: 20px;
    color: #878686;
    font-weight: 400;
    text-decoration: none;
}
.about-container{
    display: flex;
    width: 500px;
}
.hamburger{
    display: none;
}
.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px 0;
  display: block;
  transition: all 0.3s;
}
.hamburger.active span:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

@media (max-width: 768px) {
    html, body {
        overflow-x: hidden;
    }
    .product-container,
    .shop,
    .gallery,
    .testimonials,
    .order,
    .stylish {
        flex-direction: column !important;
        gap: 30px !important;
        padding: 20px !important;
        align-items: center !important;
    }
    .hero{
        height: 60vh !important;
    }
    header {
        gap: 20px;
        padding: 20px;
        justify-content: space-between;
    }
    .logo-container {
        font-size: 35px !important;
        gap: 20px !important;
    }
    .icons {
        gap: 10px !important;
    }
    .container,
    .content,
    .product-header,
    .info,
    .stylish-content,
    .shop-content,
    .gallery-content,
    .testimonials-content,
    .about {
        max-width: 100% !important;
        min-width: 0 !important;
        padding: 0 10px !important;
        box-sizing: border-box !important;
        align-items: center !important;
    }
    .content h1,
    .product-header h1,
    .stylish-content h1,
    .gallery-content h1,
    .shop-content h1,
    .about h2,
    .product-item h1 {
        font-size: 20px !important;
    }
    .content p,
    .product-header p,
    .stylish-content p,
    .gallery-content p,
    .shop-content p,
    .testimonials-content p,
    .about p,
    .about a,
    .info p{
        font-size: 13px !important;
        margin: 10px 0 !important;
        text-align: center !important;
    }
    button,
    .content button,
    .product-footer button,
    .stylish button,
    .order button {
        width: 150px !important;
        height: auto !important;
        padding: 14px 0 !important;
        font-size: 16px !important;
        margin: 10px 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-item img,
    .gallery-content img,
    .stylish img,
    .shop-content img {
        width: 100% !important;
        max-width: 320px !important;
        height: auto !important;
        min-width: 0 !important;
    }
    .gallery-content h2{
        text-align: center !important;
    }
    .about {
        width: 100% !important;
        padding: 10px !important;
    }
    .about-container{
        display: flex;
        width: 300px;
    }
    .footer-content {
        flex-direction: column !important;
        align-items: center !important;
        text-align: center;
    }
    .order {
        font-size: 18px !important;
    }
    .shop-header,
    .shop-header i {
        font-size: 20px !important;
        gap: 10px !important;
    }
    .tag {
        left: 10px !important;
        top: 10px !important;
        font-size: 14px !important;
    }
    .nav-arrow.left,
    .nav-arrow.right {
        padding: 10px !important;
        margin: 10px 0 !important;
        transform: none !important;
        top: 20%;
    }
    .product-header,
    .testimonials-content {
        padding: 10px !important;
    }
    #content-2 {
        display: flex;
        flex-direction: column;
    }
    #content-2 .stylish-image {
        order: 2;
    }
    #content-2 .stylish-content {
        order: 1;
    }
  .hamburger {
    display: flex !important;
    flex-direction: column;
    cursor: pointer;
    margin-left: 1rem;
    z-index: 1000;
  }
  .navbar a {
    color: white;
  }
   .navbar {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        width: 40%;
        padding: 100px 20px;
        gap: 30px;
        transition: right 0.3s ease;
        box-shadow: -4px 0 10px rgba(0,0,0,0.1);        
        border-bottom-left-radius: 100%;
        align-items: center;
        z-index: 1000;
  }

  .navbar.show {
    right: 0;
    display: flex;
  }
}
